/* css for the modal */
.instructionsModalTextDiv{
    color: black;
    padding: 10px;
}

li{
    margin: 5px;
}

.modalButton:hover{
    background-color: green;    
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.main-modal {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#landingListDiv{
    width: 50%;
    text-align: left;
    margin: auto;
}

/* css for the main input page */
.inputInnerDiv{
    width: 40%;
}

.errorMessage{
    color: #bf3b33;
}

.overallFormDiv{
    width: 100%; 
    max-width: 900px;
}

.textForm{
    margin: auto;
    width: 100%;
}

.textField{
    width: 95%; 
    min-height: 200px;
    min-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.textTitle{
    margin: 10px;
    width: 70%;
    min-width: 400px;
}

.inputButton:hover{
    background-color: #03993a;
}