.mainInnerDiv{
    padding: 30px; 
    width: 25%;
    max-width: 475px;
}

.clozeButton{
    width: 40%;
}

.scrambleButton{
    width: 40%;
}

.clozeButton:hover{
    background-color: #9007c6;
}

.scrambleButton:hover{
    background-color: #e08f09;
}