.mainInnerDiv{
    padding: 30px; 
    width: 25%;
    max-width: 475px;
}

.mainButton{
    width: 40%;
}

.clozeButton:hover{
    background-color: #9007c6;
}

.scrambleButton:hover{
    background-color: #e08f09;
}

.matchButton:hover{
    background-color: #04773a;
}